.env
.env.example
# Dependencias
node_modules/
dist/
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.DS_Store

# Ignorar bases de datos en la carpeta data
backend/data/sgcrc.db
backend/data/sgcrc.db-shm
backend/data/sgcrc.db-wal